/* Обнулення 
@import url("reset.css");*/
/*Файл обнулення базових стилів для можливості единих правил для перегляду на всих браузерах*/

/* Стилі за замовченням для всієї сторінки*/
body {
  font-family: "Roboto", sans-serif; /* Шрифт */
  font-weight: 400;
  font-size: 1rem;
  color: #fcfafa;
  background-color: #057b85;
	
  /* line-height: 1; властивість рівної висоти шрифта, без пустоти */
}
/*ОБГОРТКА Сторінки ===================================*/
.wrapper {
  min-height: 100%; /*100% від висоти батьківського елемента*/
  overflow: clip; /*приховає все, що випадково вийде за рамки оболонки*/
  display: flex;
  flex-direction: column; /* Для хедера-головного контенту-футера */
	

/* =======Селектор атрибуту для ОБМЕЖУЮЧОГО КОНТЕЙНЕРА для АДАПТИВУ _для всих з "__container" */
[class*="__container"] {
  max-width: 1310px; /* 1310=1280+15+15*/ /* Обмежуючий + відступи */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ======Загальні стилі======= */
/* ==== Основні стилі==== */
/*====== ХЕДЕР start==============================*/
/*====== ХЕДЕР_Рахівник лайків ===================*/
/*====== ХЕДЕР_Finish========================*/
/* ===== M A I N - ПЕРШИЙ ЕКРАН=================*/
/*====== ФОН на весь перший екран=====*/

/*======= ДРУГИЙ ЕКРАН _ПРО ШКОЛУ =================*/
.wrapper__school {
background: linear-gradient(180deg, #02868b 0%, #01a5aa 50.96%, #02858a 100%);
}
.about-school__container {
  /*background-color: #065a81;*/
	width: 1920px;
	height: 1670px;
	
}
	
}

h2 {
  margin-top: 203px;
  margin-bottom: 60px;
}

.about-school__title {
  font-size: 55px;
  text-align: center;
  line-height: 125%;
  letter-spacing: 0.08em;
  font-weight: 500;
	text-transform: uppercase;
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.about-school__title-main {
  font-size: 55px;
  color: rgb(255, 255, 255); /*це колір тексту*/
  font-weight: 800;
  text-transform: uppercase;
  line-height: 91%;
  letter-spacing: 0.12em;
}

.about-school__line {/* блок для лінії*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px; /* ширина контейнера - із Фігма*/
  height: 6px; /* висота контейнера - із Фігма*/
  overflow: hidden;
  margin: 0 auto; /*щоб цей блок розмістився по середині батьківського блоку*/
  margin-bottom: 38px;
}

.line { 
  display: block;
  max-width: 100%;
  height: auto;
}
.about-school__sity { /* властивості лінії*/
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 4px;  
  margin-bottom: 110px;
	text-transform: none;

}

.about-school__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px; /* ширина контейнера - із Фігма*/
  height: 620px; /* висота контейнера - із Фігма*/
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50px 0px 50px 0px;
  transition: transform 0.2s ease;
  margin-bottom: 132px;
}

.img_theacher {
  max-width: 100%; /* Зображення заповнює весь блок */
  height: auto;
  /*object-fit: cover;  Запобігає виходу зображення за межі контейнера */
  box-shadow: 3px 3px 7px #323131;
}

.about-school__img:hover {
  transform: scale(1.05); /*збільшення зображення при наведенні курсором*/
}

.about-school__subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 2.8px;
  text-align: center;
  color: #f1f1f1;
	margin-bottom: 145px
}

.about-school__subtitle-weight { /*виділене слово"розкриває потенцыал"*/
	font-weight: 800;
}
/* =====ФУТЕР=====================*/

.footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer_content {
  font-size: 150px;
  margin: 0 auto;
  margin-top: 1200px;
}
